@import '@fontsource/fira-mono';

:root {
  font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: 'Fira Mono', monospace;
  --pure-white: #ffffff;
  --primary-color: #14171D;
  --secondary-color: #1E222B;
  --tertiary-color: #333A4A;
  --accent-color: #9B81BC;
  --beep-color: #A2C799;
  --heading-color: rgba(255, 255, 255, 1);
  --text-color: #ffffff;
  --background-without-opacity: rgba(255, 255, 255, 0.1);
  --column-width: 42rem;
  --column-margin-top: 4rem;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--primary-color);
  background: linear-gradient(
    180deg,
    var(--primary-color) 0%,
    var(--secondary-color) 10.45%,
    var(--tertiary-color) 41.35%
  );
}

body::before {
  content: '';
  width: 80vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 10vw;
  z-index: -1;
  background: radial-gradient(
    50% 50% at 50% 50%,
    var(--pure-white) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.05;
}

#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
p {
  font-weight: 400;
  color: var(--heading-color);
}

p {
  line-height: 1.5;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

pre {
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  padding: 0.5em;
  overflow-x: auto;
  color: var(--text-color);
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}



/* CODE MIRROR */
.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.cm-selectionBackground {
  background-color: #67ffed37 !important;
}

.cm-cursor {
  display: block !important;
  border-left: 4px solid rgba(0, 247, 255, 0.9) !important;  
} 

/* LAYOUT */
.right-column {
  flex:1;
  display:flex;
  flex-direction: column;
  width: 100%;
  margin-left: 5px;
}

.left-column{
  flex: 1;
  overflow: auto;
  border-radius: 0px;
  margin-right: 5px;
  border: var(--beep-color) 2px solid;
  
}

.codeView {
  float: left;
  height:100%;
  display:flex;
  width: 100%;
}

.cm-editor {
  height: inherit;
  width: 100%;
}

.render {
  height: 99%;
  margin-top: 10px;
  float: right;
  border: var(--beep-color) 2px solid;
  border-radius: 0px;
  background-color: white;
}


.chat {
  border: 2px solid var(--beep-color) !important;
  border-radius: 0px;
  background-color: var(--primary-color);
  padding: 10px;
  overflow: auto;
  height:100%;
  display:flex;
  flex-direction: column-reverse;
  position: relative;
}


.illegal-key {
  border-color: rgba(255, 40, 40, 1);
}

.illegal-key .cm-editor {
  background-color: rgba(50, 40, 40, 1) !important;
}


.chat-loading .loading-animation{
  display: block;
  position:absolute;
  background-color: rgba(42, 69, 84, 0.744);
  z-index: 10000;
  top: 0;
  right: 0;
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
width: 100%;
height: 5px;
background: cyan;
padding-top: 5px;
margin-top: -5px;
margin-bottom: -5px;
animation: wave 1.4s linear infinite;
}

.wave:nth-child(2) {
animation-delay: 0.1s;
}

@keyframes wave {
0% {
  transform: scaleX(0.1);
}
100% {
  transform: scaleX(1);
}
}
